<div class="about-container d-flex justify-content-center align-items-center">
    <div class=" rounded w-75 h-75 text-center">
        <div class="card mb-3">
            <img src="https://images.pexels.com/photos/225448/pexels-photo-225448.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title h1 mb-3"><span class="text-primary">NVC</span> Shop</h5>
              <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, obcaecati aliquam officia ipsam ullam exercitationem autem amet accusamus! Fuga, similique repudiandae saepe rem quos maxime molestias voluptate enim inventore adipisci.</p>
              <a routerLink="/product" class="btn btn-success fs-4">Go Shop</a>
            </div>
          </div>
    </div>
</div>